{% extends "base.html" %}
{% block content %}

    {% for Properties in properties %}
        {{ Properties.Properties_Name }}<br />
        {{ Properties.PropertyType_Name }}<br />
        {{ Properties.Properties_Description }}<br />
        {{ Properties.Viewing_Available }}<br />
        {{ Properties.Auction_Date }}<br />
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="fas fa-building"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-building"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-building"></i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}